* {
  font-family: "Roboto" sans-serif;
}

html,
body {
  height: 100%;
}

header {
  margin-bottom: 100px;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-shadow: black 1px 0 10px;
}

a {
  color: white;
}

td {
  padding: 0px 0px 0px 15px;
}

th {
  padding: 10px 0px 0px 15px;
}

.address {
  color: white;
}

.admin-container {
  animation: slideUp 1.5s forwards;
}

.admin-main {
  padding-top: 50px;
  text-align: center;
}

@keyframes slideUp {
  from {
    opacity: 0;
    top: 100%;
  }
  to {
    opacity: 1;
    top: 0%;
  }
}

.card {
  margin-bottom: 30px;
  max-height: fit-content;
  margin-left: 10px;
}

.choose {
  text-shadow: black 1px 0 10px;
}

.config-container {
  text-align: initial;
  padding: 15px;
}

.content {
  flex: 1 0 auto;
}

.copyright {
  text-align: center;
}

.fas  {
  padding-right: 10px;
}

.far {
  padding-right: 3px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 20px;
}

.footer-sticky {
  flex-shrink: 0;
  margin-top: 100px;
}

.hero-container {
  position: relative;
  padding: 0%;
}

.hero-container video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 0;
}

.hero-content {
  position: absolute;
  z-index: 1;
  top: 40%;
  color: #fff;
}

.left-align {
  position: absolute;
  left: 5%;
}

.right-align {
  position: absolute;
  right: 5%;
}

.message-body {
  padding: 0;
}

#message-input {
  margin-bottom: 10px;
}

.message-text {
  padding: 5px;
  background-color: lightgrey;
}

.pb-title {
  padding-bottom: 10px;
  text-shadow: none;
}

#dropdownMenuButton {
  background-color: white;
  color: black;
  text-align: left;
  margin: 20px;
}

#copyright-index {
  color: white;
  text-align: center;
}
